<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99Cats.com, <%= @user.username %></h1>
    <p>
      Thank you for joining us!
      your username is: <%= @user.username %>.<br />
    </p>
    <p>
      To sign in, follow this link: <%= @url %>.
    </p>
    <p>See ya soon!</p>
  </body>
</html>
