<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      Welcome to 99 cats!!! Thank you for joining us!
      your username is: <%= @user.login %>.<br />
    </p>
    <p>
      To sign in, follow this link: <%= @url %>.
    </p>
    <p>See ya soon!</p>
  </body>
</html>
