/* PHASE 1: Header */


.header {
  display: flex;
  justify-content: space-between;
  background-color: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav-group{
  display: flex;
  margin: 0 auto;
  width: 900px;
  justify-content: space-between;
  background-color: inherit;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  justify-content: flex-start;
  margin: auto;
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-logo:hover{
  background-color: black;
}

.header-list {
 float: right;
  display: flex;
}

.header-list > li {
  border-left: 1px solid #ccc;
  background-color: inherit;

}

.header-list > li:hover {
  background-color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(238, 238, 238);
}
